
.navbar {
    margin-top: 20px;
    background: linear-gradient(to bottom, #6d4253 0%,#532d3a 44%,#381011 100%);
    border-width: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0;
}
.lhb-purple {
    background-color: #532d3a;
}
.nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
}

div.navbar-header a.navbar-brand,
div.navbar-collapse ul.nav li>a{
    color: white;
}
div.navbar-collapse {
    float: right;
}
div.navbar-collapse ul.nav li ul li a,
div.navbar-collapse ul.nav li ul li a:hover {
    color: white;
}
div.navbar-header a.navbar-brand:hover {
    color: white;
}
div.navbar-collapse ul.nav li>a:hover {
    color: #999;
}
.navbar-line {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
.logo {
    text-align:;
}
body {
    background: radial-gradient(ellipse at center, #d5ba8b 0%, #d1b37f 50%, #bca172 100%);
    color: black
}
.footer-line {
    margin-top: 20px;
    border-top: 2px solid black;
}
.carousel-border {
    border: 4px solid black;
}
.no-margin {
    margin-right: 0px;
}
.no-margin-top {
    margin-top: 0;
}
.margin-bottom {
    margin-bottom: 10px;
}
.no-padding {
    padding-right: 0;
}
.no-padding-left {
    padding-left: 0;
}
.footer-contact {
    text-align: right;
}
.border-bottom {
    border-bottom: 2px solid black;
}
.border-bot-green {
    border-bottom: 1px solid darkGreen;
}
.caption {
    background-color: rgba(38, 38, 40, 0.7);
}
.logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    margin-top: 5px;
}
.text-underline {
    text-decoration: underline;
}
#pageName,
#pageName2 {
    font-size: 25px;
}
.text-black {
    color: black;
}

.btn-dark {
    border-color: rgba(50, 50, 50, 0.5);
    background-color: #6d4253;
    color: #ffffff;
}

.btn-dark:hover,
.active {
    background-color: #532d3a;
    color: #e2e2e2;
}

.btn-dark:focus {
    color: #e2e2e2;
}
.text-18 {
    font-size: 18px;
}
.border-small {
    border: 2px solid black;
}
.inherit {
    color: inherit;
}
.text-green {
    color: #087c4c;
}
a {
    color: #087c4c;
}
