<!DOCTYPE html>
<html>
	<head>
		<title>About | Lancaster Home Builders PA Home Construction</title>

		{{ template "head.tmpl" . }}

	</head>
	<body>
		<div class="container">

			<!-- navbar -->
			{{ template "navbar.tmpl" . }}
			<!-- navbar -->

			<div class="row">

				<!-- affiliations -->
				<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
					<h1 class="text-center border-bottom text-green no-margin-top">Affiliations</h1>
					<br>
					<a target="_blank" href="http://www.lancasterbuilders.org/">
			            <img class="img-responsive" src="/static/img/bia.png" alt="" />
			        </a>
					<br>
					<br>
					<a target="_blank" href="http://www.bbb.org/washington-dc-eastern-pa/business-reviews/home-builders/nadu-construction-inc-in-lancaster-pa-70000487">
			            <img style="float:left" class="img-responsive" src="/static/img/bbb.png" alt="" />
						<img style="float:right" src="/static/img/a-plus.png" alt="" />
			        </a>
				</div>
				<!-- affiliations -->

				<!-- why choose us -->
				<div class="col-lg-9 col-md-9 col-sm-12">
					<h2 class="text-center text-green text-underline no-margin-top">Why Choose Us</h2>
					<p class="text-center">
						With over 30 years of experience and a real focus on customer satisfaction, you can rely on
						Lancaster Home Builders to build your new home. Our goal is to provide you with professional
						construction and customer satisfaction as we help you through each step in the building
						process.
					</p>
					<p class="text-center">
						We are a full-service builder; from designing the home to the final cleaning before settlement,
						Lancaster Home Builders will serve you.
						Once you’ve chosen how you would like your home to look, we bring in the best subcontractors
						in the industry to make it happen.
					</p>

					<!-- background -->
					<h3 class="text-green text-center">Background:</h3>
					<p class="text-center">
						From the age of six when Joe Nadu received his first tool box at Christmas, he knew he wanted to be a builder.
						Joe has a passion for home building, and because of this, he keeps actively and personally involved
						throughout the home building process. He has surrounded himself with a chosen team of professionals
						who share his same commitment to quality.
					</p>
					<p class="text-center">
						Joe has been in the construction field since 1982 when he went into business for himself as Nadu
						Construction. His motto: “Build a Quality Home at an Affordable Price.” The name of the company has
						since changed, but the quality and affordability continue at Lancaster Home Builders.
					</p>
					<!-- background -->

					<!-- our mission -->
					<div class="text-center">
						<h3 class="text-green">Our Mission:</h3>
						<p class="">At Lancaster Home Builders, our goal is simple. We are committed to providing you with remarkable
							custom design and quality construction – regardless of your budget. We consider our build process to be the
							most valuable and efficient way to accomplish this task. No matter the size or complexity of your future
							home or project, we are here to serve you.
						</p>
					</div>
					<!-- our mission -->

					<!-- mobile affiliations -->
					<div class="visible-sm visible-xs text-center">
						<h3 class="text-green">Affliations:</h3>
						<a target="_blank" href="http://www.lancasterbuilders.org/">
			                <img class="logo logo-center img-responsive text-center" src="/static/img/bia.png" alt="" />
			            </a>
						<a target="_blank" href="http://www.bbb.org/washington-dc-eastern-pa/business-reviews/home-builders/nadu-construction-inc-in-lancaster-pa-70000487">
			                <img class="logo logo-center img-responsive text-center" src="/static/img/bbb.png" alt="" />
			            </a>
					</div>
					<!-- mobile affiliations -->

				</div>
				<!-- why choose us -->

			</div>

			<!-- footer -->
			{{ template "footer.tmpl" . }}
			<!-- footer -->

        </div>

		<!-- javascript -->
        {{ template "scripts.tmpl" . }}

		<script type="text/javascript">
		var quotes = [
			'Joe Nadu listened to our requirements, and his architect designed a home that we are now truly enjoying. The craftsmen were very good, respectful and pleasant.',
			'Michele Wenger was wonderful at helping us get started with our selections. She coordinated everything between us and the various vendors.',
			'Kimberly Gribbin was very knowledgeable on decorating. She gave us many excellent ideas for making our home look beautiful; inside and out.',
			'We had a good rapport with Mike Way throughout the building process. Jeff Harmes was excellent to work with on our electrical requirements. Likewise Craig Scheirer at Cloister Cabinetry.'
		];
		</script>
		<script src="/static/js/quote.js" charset="utf-8"></script>
		<!-- javascript -->

    </body>
</html>
