<!DOCTYPE html>
<html>
	<head>
		<title>Contact | Lancaster Home Builders PA Home Construction</title>
		{{ template "head.tmpl" . }}
	</head>
	<body>
		<div class="container">
			{{ template "navbar.tmpl" . }}
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<h1 class="text-center border-bottom text-green no-margin-top">Contact Details</h1>
					<h3 class="text-green"><i class="fa fa-map-marker"></i>&nbsp Address:</h3>
					<p class="col-xs-offset-1">
						2760 Charlestown Rd. <br>
						Lancaster, PA 17603 <br>
					</p>
					<h3 class="text-green"><i class="fa fa-phone"></i> Phone:</h3>
					<p class="col-xs-offset-1">
						(717) 394-6621
					</p>
					<h3 class="text-green"><i class="fa fa-fax text-green"></i> Fax:</h3>
					<p class="col-xs-offset-1">
						(717) 394-6729
					</p>
					<h3 class="text-green"><i class="fa fa-envelope-o"></i> Email:</h3>
					<p class="col-xs-offset-1">
						<a href="mailto:contact@lancasterhomebuilders.com">contact@lancasterhomebuilders.com</a>
					</p>
				</div>
				<div class="visible-lg col-lg-9">
					<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.345139276876!2d-76.37070479999997!3d40.023073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6267b03c0ce71%3A0x5b4c2891b323aae9!2s2760+Charlestown+Rd%2C+Lancaster%2C+PA+17603!5e0!3m2!1sen!2sus!4v1436284107090" width="845" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="visible-md col-md-8 col-md-offset-1">
					<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.345139276876!2d-76.37070479999997!3d40.023073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6267b03c0ce71%3A0x5b4c2891b323aae9!2s2760+Charlestown+Rd%2C+Lancaster%2C+PA+17603!5e0!3m2!1sen!2sus!4v1436284107090" width="616" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="visible-sm col-sm-8">
					<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.345139276876!2d-76.37070479999997!3d40.023073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6267b03c0ce71%3A0x5b4c2891b323aae9!2s2760+Charlestown+Rd%2C+Lancaster%2C+PA+17603!5e0!3m2!1sen!2sus!4v1436284107090" width="470" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="visible-xs col-xs-9">
					<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.345139276876!2d-76.37070479999997!3d40.023073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6267b03c0ce71%3A0x5b4c2891b323aae9!2s2760+Charlestown+Rd%2C+Lancaster%2C+PA+17603!5e0!3m2!1sen!2sus!4v1436284107090" width="320" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			{{ template "footer.tmpl" . }}
        </div>

		{{ template "scripts.tmpl" . }}

		<script type="text/javascript">
		var quotes = [
			'We recently moved into our beautiful new home... Thank you to everyone at Lancaster Home Builders. We certainly recommend Lancaster Home Builders.',
			'We\'re looking forward to closing on our new home (a week ahead of schedule) and knowing that we will be very happy raising our family there for many years to come!',
			'We appreciated the ability to make adjustments to the home as we saw the progression of the build. Our design selections and the construction of the final product look beautiful.'
		];
		</script>
		<script src="/static/js/quote.js" charset="utf-8"></script>
    </body>
</html>
