<!DOCTYPE html>
<html>
	<head>
		<title>Home | Lancaster Home Builders PA Home Construction</title>
		{{ template "head.tmpl" . }}
	</head>
	<body class="">
		<div id="container" class="container">
			{{ template "navbar.tmpl" . }}
			<h2 class="text-green text-underline text-center">New Home Brochures</h2>
			<br>
            <ul class="visible-xs">
			    <li><a href="/static/doc/AugustaBrochure.pdf">Augusta Brochure, 2582 sq ft</a></li>
                <li><a href="/static/doc/CharlestonBrochure.pdf">Charleston Brochure, 2754 sq ft</a></li>
                <li><a href="/static/doc/HampshireIIIBrochure.pdf">Hampshire III Brochure, 2016 sq</a></li>
                <li><a href="/static/doc/MicheleBrochure1800.pdf">Michele Brochure, 1800 sq ft, 3 bedroom</a></li>
                <li><a href="/static/doc/MicheleBrochure2230.pdf">Michele Brochure, 2230 sq ft, 4 bedroom</a></li>
                <li><a href="/static/doc/MorganBrochure.pdf">Morgan Brochure, 2230 sq ft</a></li>
                <li><a href="/static/doc/RockwellBrochure.pdf">Rockwell Brochure, 2444 sq ft</a></li>
                <li><a href="/static/doc/RyleighBrochure.pdf">Ryleigh Brochure, 3292 sq ft</a></li>
                <li><a href="/static/doc/TylerBrochure.pdf">Tyler Brochure, 1475 sq ft</a></li>
                <li><a href="/static/doc/TylerIIBrochure.pdf">Tyler II Brochure, 1632 sq ft</a></li>
                <li><a href="/static/doc/YorkshireBrochure.pdf">Yorkshire Brochure, 1700 sq ft</a></li>
            </ul>
            <div class="row hidden-xs">
                <div class="col-sm-3 margin-bottom">
                    <a id="brochure-1" data-title="Augusta Brochure" data-body="/static/doc/AugustaBrochure.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/Augusta.jpg" alt="" /></a>
                </div>
                <div class="col-sm-3 margin-bottom">
                    <a id="brochure-2" data-title="Charleston Brochure" data-body="/static/doc/CharlestonBrochure.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/Charleston.jpg" alt="" /></a>
                </div>
                <div class="col-sm-3 margin-bottom">
                    <a id="brochure-3" data-title="Hampshire III Brochure" data-body="/static/doc/HampshireIIIBrochure.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/HampshireIII.jpg" alt="" /></a>
                </div>
                <div class="col-sm-3 margin-bottom">
                    <a id="brochure-4" data-title="Michele Brochure, 3 bedroom" data-body="/static/doc/MicheleBrochure1800.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/Michele1800.jpg" alt="" /></a>
                </div>

                <div class="col-sm-3 margin-bottom">
                    <a id="brochure-5" data-title="Michele Brochure, 4 bedroom" data-body="/static/doc/MicheleBrochure2230.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/Michele2230.jpg" alt="" /></a>
                </div>
                <div class="col-sm-3 margin-bottom">
                    <a id="brochure-6" data-title="Morgan Brochure" data-body="/static/doc/MorganBrochure.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/Morgan.jpg" alt="" /></a>
                </div>
                <div class="col-sm-3 margin-bottom">
                    <a id="brochure-7" data-title="Rockwell Brochure" data-body="/static/doc/RockwellBrochure.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/Rockwell.jpg" alt="" /></a>
                </div>
                <div class="col-sm-3 margin-bottom">
                    <a id="brochure-8" data-title="Ryleigh Brochure" data-body="/static/doc/RyleighBrochure.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/Ryleigh.jpg" alt="" /></a>
                </div>
                <div class="col-sm-3">
                    <a id="brochure-9" data-title="Tyler Brochure" data-body="/static/doc/TylerBrochure.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/Tyler.jpg" alt="" /></a>
                </div>
                <div class="col-sm-3">
                    <a id="brochure-10" data-title="Tyler II Brochure" data-body="/static/doc/TylerIIBrochure.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/TylerII.jpg" alt="" /></a>
                </div>
                <div class="col-sm-3">
                    <a id="brochure-11" data-title="Yorkshire Brochure" data-body="/static/doc/YorkshireBrochure.pdf" href="#"><img class="img-responsive" src="/static/img/docIcons/Yorkshire.jpg" alt="" /></a>
                </div>
            </div>
            <div id="brochure-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="brochure-modal-title">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" aria-label="close" type="button" name="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span class="text-black text-center text-18" id="brochure-modal-title" data=""></span>
                        </div>
                        <div class="modal-body">
                            <object id="modal-body" data="" type="application/pdf" width="100%" height="500px">
                            </object>
                        </div>
                    </div>
                </div>
            </div>
			{{ template "footer.tmpl" . }}
		</div>

		{{ template "scripts.tmpl" . }}

		<script type="text/javascript">
		var quotes = [
			'We recently moved into our beautiful new home... Thank you to everyone at Lancaster Home Builders. We certainly recommend Lancaster Home Builders.',
			'We appreciated the ability to make adjustments to the home as we saw the progression of the build. Our design selections and the construction of the final product look beautiful.',
			'As the build progressed, we were able to add additional items into our design that we realized made more sense as the project began to take shape.'
		];
		</script>
		<script src="/static/js/quote.js" charset="utf-8"></script>
        <script src="/static/js/documentsModal.js" charset="utf-8"></script>
	</body>
</html>
