{{ define "footer" }}
<div id="footer">
    <div class="footer-line"></div>
    <div class="row footer">
        <div class="col-xs-8">
            &copy; <a class="inherit" href="home.php">Lancaster Home Builders</a> <span class="hidden-xs"> - A Division of Nadu Construction, Inc.</span>
        </div>
        <div class="col-xs-4 text-right row no-padding">
            <a class="inherit" href="webmaster.php">Webmaster</a>
        </div>
    </div>
</div>
{{ end }}
