<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<meta name="description" content="With over 20 years of experience, Lancaster Home Builders provide professional construction services with a real focus on customer satisfaction." />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="icon" type="image/ico" href="/static/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
