<!DOCTYPE html>
<html>
	<head>
		<title>Home | Lancaster Home Builders PA Home Construction</title>
		{{ template "head.tmpl" . }}
		<style>
			.carousel-caption {
				padding-bottom: 0px;
				text-align: left;
				left: 0%;
			}
		</style>
	</head>
	<body class="">
		<div id="container" class="container">
			{{ template "navbar.tmpl" . }}
			<div id="carousel-example-generic" class="carousel slide carousel-border" data-ride="carousel">
			  <!-- Indicators -->
				<ol class="carousel-indicators hidden-xs">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="/static/img/lhbImages/homeSlider/office.jpg" alt="...">
						<div style="top:0px" class="carousel-caption col-xs-offset-7 col-xs-5">
							<!--
							<div class="caption text-center">
								<div class="caption-body">
									<h4 class="hidden-xs border-bot-green">LANCASTER HOME BUILDERS</h4>
									<h4 class="visible-xs">Lancaster Home Builders</h4>
								</div>
								<div class="caption-body hidden-xs">
									<p class="">
										2760 Charlestown Rd. Lancaster, PA 17603 <br>
										Building for your future!
									</p>
								</div>
							</div>
							 -->
						</div>
					</div>
					<div class="item">
						<img src="/static/img/lhbImages/homeSlider/SYP_1781-2-2.jpg" alt="...">
						<div style="top:0px" class="carousel-caption col-xs-offset-7 col-xs-5">
							<!--
							<div class="caption text-center">
								<div class="caption-body">
									<h4 class="hidden-xs border-bot-green">NEW HOME CONSTRUCTION</h4>
									<h4 class="visible-xs">New Home Construction</h4>
								</div>
								<div class="caption-body">
									<p class="hidden-xs">
										We have the experience, personel and resources to make the project run smoothly.
										We can ensure a job is done on time.
									</p>
								</div>
							</div>
							 -->
						</div>
					</div>
					<div class="item">
						<img src="/static/img/lhbImages/homeSlider/IMG_7303-slider.jpg" alt="...">
						<div style="top:0px" class="carousel-caption col-xs-offset-7 col-xs-5">
							<!--
							<div class="caption text-center border-bot-green">
								<div class="caption-body">
									<h4 class="hidden-xs border-bot-green">PROFESSIONAL DESIGN</h4>
									<h4 class="visible-xs">Professional Design</h4>
								</div>
								<div class="caption-body">
									<p class="hidden-xs">
										We combine quality workmanship, superior knowledge and low prices to provide
										you with service unmatched by our competitors.
									</p>
								</div>
							</div>
							-->
						</div>
					</div>
					<div class="item">
						<img src="/static/img/lhbImages/homeSlider/IMG_7321-slider.jpg" alt="...">
						<div style="top:0px" class="carousel-caption col-xs-offset-7 col-xs-5">
							<!--
							<div class="caption text-center">
								<div class="caption-body">
									<h4 class="hidden-xs border-bot-green"><?php echo strtoupper($slide['title'])?></h4>
									<h4 class="visible-xs"><?php echo $slide['title']?></h4>
								</div>
								<div class="caption-body">
									<p class="hidden-xs"><?php echo $slide['body']?></p>
								</div>
							</div>
						 	-->
						</div>
					</div>
				</div>
				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			{{ template "footer.tmpl" . }}
		</div>

		{{ template "scripts.tmpl" . }}

		<script type="text/javascript">
			var quotes = [
				'We recently moved into our beautiful new home... Thank you to everyone at Lancaster Home Builders. We certainly recommend Lancaster Home Builders.',
				'We appreciated the ability to make adjustments to the home as we saw the progression of the build. Our design selections and the construction of the final product look beautiful.'
			];
		</script>
		<script src="/static/js/quote.js" charset="utf-8"></script>
	</body>
</html>
