<!DOCTYPE html>
<html>
	<head>
		<title>Services | Lancaster Home Builders PA Home Construction</title>

		{{ template "head.tmpl" . }}

	</head>
	<body>
		<div class="container">

			<!-- navbar -->
			{{ template "navbar.tmpl" . }}
			<!-- navbar -->

			<div class="row">

				<!-- what you'll get -->
				<div class="col-md-3">
					<h1 class="no-margin-top text-center border-bottom text-green">What You'll Get</h1>

					<!-- hidden small -->
					<div class="hidden-sm">
						<p><i class="fa fa-check"></i> Superior Quality and Craftsmanship</p>
						<p><i class="fa fa-check"></i> Highest Standards to the Projects We Deliver</p>
						<p><i class="fa fa-check"></i> Accommodation of Unique Requests</p>
						<p><i class="fa fa-check"></i> Quality Subcontractors</p>
						<br>
						<p>From design to the final cleaning, Lancaster Home Builders is a Full-service builder.</p>
						<br>
						<p>We serve the following areas: </p>
						<ul>
							<li>Chester</li>
							<li>Dauphin</li>
							<li>Lancaster</li>
							<li>Reading</li>
							<li>York</li>
						</ul>
					</div>
					<!-- hidden small -->

					<!-- visible small -->
					<div class="visible-sm">
						<div class="col-sm-6">
							<p><i class="fa fa-check"></i> Financial Responsibility to Our Clients</p>
							<p><i class="fa fa-check"></i> Superior Quality and Craftsmanship</p>
							<p><i class="fa fa-check"></i> Quality and Value to the Projects We Deliver</p>
							<p><i class="fa fa-check"></i> Highest Standards in Cost Control</p>
							<p><i class="fa fa-check"></i> On Time and on Budget</p>
							<p><i class="fa fa-check"></i> Accommodation of Unique Requests</p>
							<p><i class="fa fa-check"></i> Only Quality Subcontractors are Utilized.</p>
						</div>
						<div class="col-sm-6">
							<p>From design to the final cleaning, Lancaster Home Builders is a Full-service builder.</p>
							<br>
							<p>We serve the following areas: </p>
							<ul>
								<li>York</li>
								<li>Chester</li>
								<li>Lancaster</li>
								<li>Dauphin</li>
								<li>Reading</li>
							</ul>
						</div>
					</div>
					<!-- visible small -->

				</div>
				<!-- what you'll get -->

				<div class="col-xs-12 border-bottom visible-xs visible-sm"></div>

				<!-- services -->
				<div class="col-md-9 col-xs-12">

					<!-- new construction -->
					<div class="row">
						<div class="col-sm-4">
							<h2 class="visible-xs margin-bottom text-underline no-margin-top text-green text-center">New Home Construction</h2>
							<div class="col-sm-12 col-xs-12">
								<img style="margin-top: 45px" class="hidden-xs img-responsive border-small img-rounded" src="/static/img/house1.jpg" alt="...">
								<img class="visible-xs img-responsive border-small img-rounded" src="/static/img/house1.jpg" alt="...">
							</div>
						</div>
						<div class="col-sm-8 col-xs-12">
							<h2 class="hidden-xs text-underline no-margin-top text-green text-center">New Home Construction</h2>
							<p>
								The Lancaster Home Builders team works with our clients by
								assisting in the design of the home, ensuring a positive floor plan, and helping with the
								selection of the interior design and colors. This process starts with listening to YOU and
								the needs and desires you have for your new home. We are here to help you
								understand what you’re building and then pull in our valued tradesmen to make it
								happen.
							</p>
							<p>
								Our variety of floor plans is an ideal starting point for you to design your new home.
								Follow them exactly, or throw in your own little twist to make it your own. Every plan
								offers space to gather, entertain, store, organize and relax. If you already have a floor
								plan in mind, we can accommodate that too.
							</p>
							<p>
								<strong>Check out our <a href="/floor-plans">Floor Plans</a> and our <a href="/listings">Listings</a>!</strong>
							</p>
						</div>
					</div>
					<!-- new construction -->

					<br>
					<div class="border-bottom"></div>
					<br>
					<div class="col-xs-10 col-xs-offset-1">

						<!-- excavating -->
						<div class="row">
							<div class="col-sm-4">
								<h3 class="no-margin-top visible-xs text-center text-green">Nadu Excavating</h3>
								<div class="col-sm-12 col-xs-12">
									<img class="img-responsive border-small img-circle" src="/static/img/lhbImages/services/image_08-excavation.jpg" alt="...">
								</div>
							</div>
							<div class="col-sm-8 col-xs-12 text-center">
								<h3 class="no-margin-top hidden-xs text-green">Excavating</h3>
								<p>
									Expanding on our General Contractor’s expertise, we also have our own excavating
									division, Nadu Excavating. With this in-house division, we can get your house started in a timely
									manner and meet the specific objectives of the job at hand including site preparation, grading,
									trenching and many other soil-related tasks.
								</p>
							</div>
						</div>
						<!-- excavation -->

						<br>

						<!-- plumbing -->
						<div class="row">
							<div class="col-sm-4">
								<h3 class="no-margin-top text-center text-green visible-xs">Plumbing</h3>
								<div class="col-sm-12 col-xs-12">
									<img class="img-responsive border-small img-circle" src="/static/img/lhbImages/services/image_05.jpg" alt="...">
								</div>
							</div>
							<div class="col-sm-8 col-xs-12 text-center">
								<h3 class="no-margin-top hidden-xs text-green">M&J Plumbing</h3>
								<p>
									Another extension of Lancaster Home Builders is our plumbing division, M
									& J Plumbing. Our in-house plumbing experts help keep the building process moving forward
									quickly and efficiently by following building regulations and safety standards per building code.
								</p>
							</div>
						</div>
						<!-- plumbing -->

					</div>
				</div>
				<!-- services -->

			</div>

			<!-- footer -->
			{{ template "footer.tmpl" . }}
			<!-- footer -->

        </div>

		<!-- javascript -->
		{{ template "scripts.tmpl" . }}

		<script type="text/javascript">
			var quotes = [
				'The craftsmen were very good, respectful and pleasant. We were kept up to date on the progress, and our questions and concerns were addressed.',
				'As the build progressed, we were able to add additional items into our design that we realized made more sense as the project began to take shape.'
			];
		</script>
		<script src="/static/js/quote.js" charset="utf-8"></script>
		<!-- javascript -->

    </body>
</html>
