<!DOCTYPE html>
<html>
	<head>
		<title>LHB |  - Construction Renovation Template</title>
		{{ template "head" . }}
		<style>input.uploader{position:absolute;left:-9999px;}label.uploader{cursor:pointer;}</style>
		<style>
			.form-horizontal .control-label {
				text-align: left;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">

			{{ template "admin-nav" . }}

			<div class="row">
				<div style="padding:0"  class="col-md-4 col-xs-12 text-black">
					<div class="col-md-12 col-sm-6">
						<div style="border:1px solid #532d3a" class="panel">
							<div style="background-color:#532d3a; color:white;" class="panel-heading clearfix">
								Gallery
								<a href="/webmaster" class="pull-right" style="color:white;">Cancel</a>
							</div>
							<div class="panel-body">
								{{ if .image }}
									<form action="/save-image/{{ .image.Id }}" method="post" class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-lg-3 col-md-4 col-sm-3 col-xs-4">Description:</label>
											<div class="col-lg-9 col-md-8 col-sm-9 col-xs-8">
												<input class="form-control" type="text" name="description" id="description" value="{{ .image.Data.description }}">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-xs-3">Category:</label>
											<div class="col-xs-9">
												<input type="text" class="form-control" name="category" id="category" value="{{ .image.Data.category }}">
											</div>
										</div>
										<input type="hidden" name="id" id="id" value="{{ .image.Data.id }}">
										<div class="form-group">
											<div class="col-xs-12">
												<button class="btn btn-primary btn-block">Save</button>
											</div>
										</div>
									</form>
									<a href="#" data-delete="/webmaster/{{ .image.Id }}" data-message="Are you sure you would like to permanently delete this image?" class="btn btn-danger btn-block delete-button">Delete</a>
								{{ else }}
									<form action="/upload-image" method="post" class="form-horizontal" enctype="multipart/form-data">
										<div class="form-group">
											<div class="col-xs-12">
												<label class="btn btn-default btn-block uploader" for="file">Select File</label>
												<input class="uploader" id="file" type="file" name="picture" required>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-lg-3 col-md-4 col-sm-3 col-xs-4">Description:</label>
											<div class="col-lg-9 col-md-8 col-sm-9 col-xs-8">
												<input class="form-control" type="text" name="description" id="description">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-xs-3">Category:</label>
											<div class="col-xs-9">
												<input type="text" class="form-control" name="category" id="category">
											</div>
										</div>
										<input type="hidden" name="_csrf" value="{{ ._csrf }}">
										<button class="btn btn-dark btn-block">Upload</button>
									</form>
								{{ end }}
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-lg-4 text-black">
				</div> -->
				<div class="col-md-8 col-xs-12">
					<div class="text-center">
						Gallery Preview
					</div>
					<div class="col-xs-12">
						<button style="margin-bottom:5px" class="filter btn btn-dark active" data-filter="*">Show All</button>
						<!--
						<?php
						if ($categories->num_rows > 0) {
							while($category = $categories->fetch_assoc()) {
								echo '<button style="margin-right:4px;margin-bottom:5px;" class="filter btn btn-dark" data-filter=".' . strtolower($category["category"]) . '">' . ucfirst($category["category"]) . '</button>';
							}
						}
						?>
						 -->
					</div>
				</div>
				<br>
				<div class="col-md-8 col-xs-12">
					<div class="isotope">
						{{ range $image := .images }}
							<div class="col-lg-3 col-md-3 col-sm-3 item {{ $image.Data.category }}">
								<a href="/webmaster/{{ $image.Id }}">
									<img style="margin-bottom:10px" class="img-responsive" src="/static/img/upload/{{ $image.Data.source }}" alt="img">
								</a>
							</div>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
		<script src="//code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.min.js"></script>
		<script src="/static/js/nav.js" charset="utf-8"></script>
		<script src="/static/js/login.js" charset="utf-8"></script>
		<script src="/static/js/gallery.js" charset="utf-8"></script>
		<script src="/static/js/delete.js" charset="utf-8"></script>
		<script>
			function updateFileInfo(e) {
				var t = e.value;
				var n = t.match(/([^\/\\]+)$/);
				var r;
				if (n == null) {
					r = "Select File";
				} else {
					r = n[1]
				}
				$('label[for^="' + e.id + '"]').text(r);
			}

			$("input.uploader").change(function() {
        		updateFileInfo(this);
    		});
		</script>
    </body>
</html>
