<!DOCTYPE html>
<html>
	<head>
		<title>LHB |  - Real Estate Listings</title>
		{{ template "head.tmpl" . }}
		<link rel="stylesheet" href="/static/css/data-table-bootstrap.css">
	</head>
	<body>
		<div class="container-fluid">
			{{ template "webmaster-nav.tmpl" . }}
			<div class="row">
				<div class="col-md-4 text-black">
					<div style="border:1px solid #532d3a" class="panel">
						<div style="background-color:#532d3a; color:white;" class="panel-heading">Gallery</div>
						<div class="panel-body">
							{{ if .listing }}
								<form action="/webmaster/save-listing/{{ .listing.Id }}" method="post" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-xs-3">Street:</label>
										<div class="col-xs-9">
											<input class="form-control" type="text" name="street" id="street" value="{{ .listing.Data.street }}" required>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-3">City:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="city" id="city" value="{{ .listing.Data.city }}" required>
										</div>
									</div>
	                                <div class="form-group">
										<label class="control-label col-xs-3">State:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="state" id="state" value="{{ .listing.Data.state }}" required>
										</div>
									</div>
	                                <div class="form-group">
										<label class="control-label col-xs-3">Zip:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="zip" id="zip" value="{{ .listing.Data.zip }}" required>
										</div>
									</div>
	                                <div class="form-group">
										<label class="control-label col-xs-3">MLS #:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="mls" id="mls" value="{{ .listing.Data.mls }}" required>
										</div>
									</div>
	                                <div class="form-group">
										<label class="control-label col-xs-3">Agent:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="agent" id="agent" value="{{ .listing.Data.agent }}" required>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-3">Phone:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="phone" id="phone" value="{{ .listing.Data.phone }}" required>
										</div>
									</div>
									<input type="hidden" name="id" id="id" value="{{ .listing.Id }}">
									<div class="form-group">
										<div class="col-xs-12">
											<button class="btn btn-primary btn-block">Save</button>
										</div>
									</div>
								</form>
								<a href="#" data-delete="/webmaster/all-listing/{{ .listing.Id }}" data-message="Are you sure you would like to permanently delete this listing?" class="btn btn-danger btn-block delete-button">Delete</a>
							{{ else }}
								<form action="/webmaster/save-listing" method="post" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-xs-3">Street:</label>
										<div class="col-xs-9">
											<input class="form-control" type="text" name="street" id="street" required>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-3">City:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="city" id="city" required>
										</div>
									</div>
                                    <div class="form-group">
										<label class="control-label col-xs-3">State:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="state" id="state" required>
										</div>
									</div>
                                    <div class="form-group">
										<label class="control-label col-xs-3">Zip:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="zip" id="zip" required>
										</div>
									</div>
                                    <div class="form-group">
										<label class="control-label col-xs-3">MLS #:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="mls" id="mls" required>
										</div>
									</div>
                                    <div class="form-group">
										<label class="control-label col-xs-3">Agent:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="agent" id="agent" required>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-3">Phone:</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="phone" id="phone" required>
										</div>
									</div>
									<button class="btn btn-dark btn-block">Save</button>
								</form>
							{{ end }}
						</div>
					</div>
				</div>
                <div class="col-md-8">
                    <table id="listings" class="table table-striped table-bordered" style="background: white;">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>MLS #</th>
                                <th>Agent</th>
								<th>Phone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
							{{ range $listing := .listings }}
								<tr>
        						    <td>{{ $listing.Data.street }} {{ $listing.Data.city }} {{ $listing.Data.state }} {{ $listing.Data.zip }}</td>
        						    <td>{{ $listing.Data.mls }}</td>
                                    <td>{{ $listing.Data.agent }}</td>
									<td>{{ $listing.Data.phone }}</td>
                                    <td><a href="/webmaster/all-listings/{{ $listing.Id }}" class="btn btn-dark btn-sm">Edit</a></td>
                                </tr>
							{{ end }}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>

		<script src="//code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.7/js/jquery.dataTables.min.js"></script>
		<script src="/static/js/data-table-bootstrap.js"></script>
		<script src="/static/js/delete.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#listings').DataTable({
					lengthMenu:[5,10,20]
				});
			});
		</script>
    </body>
</html>
